* {
  margin: 0;
  padding: 0
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #1e1e1c;
  --bg-color: #121212;
  --bg-secondary-color: #1e1e1c;
  --text-color: rgba(255, 255, 255, 0.9);
  --button-color: rgb(87, 87, 255);
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(var(--bg-color), var(--bg-secondary-color));
  color: var(--text-color);
  font-family: sans-serif;
  min-height: 100vh;
}

input[type="submit"]:hover {
  cursor: pointer;
}

#main-header {
  width: 1000px;
  padding: 24px;
}

#menu-container {
  width: 800px;
  padding: 48px;
  margin: auto;
}

#project-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 24px 0 0 0;
}

#project-menu a {
  padding: 16px 24px;
  background: var(--button-color);
  border-radius: 30px;
}

#project-menu a:hover {
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.2);
}

#project-menu li a {
  display: absolute;
  width: 100%;

  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

#card-container {
  width: 800px;
  padding: 48px;
  margin: auto;
}